[TermExtraction]
SPACY_MODEL=en_core_web_lg
MAX_LEN_NGRAM = 4
EXTRACT_SUPERGRAMS=False
TFIDF_REGEX=-2.0
TFIDF_WHITELIST=-1.0
TFIDF_THRESHOLD=-9999.0

[DefinedTerm]
BERT_BIO_TAGGING=False
PRIORITIZE_REGEX=True
PRIORITIZE_WHITELIST=True
FALLBACK_TO_REGEX=True
FALLBACK_TO_WHITELIST=False

[Annotation]
SOFA_ID=html2textView
VALUE_BETWEEN_TAG_TYPE=com.crosslang.uimahtmltotext.uima.type.ValueBetweenTagType
TAG_NAMES=p
TOKEN_TYPE=de.tudarmstadt.ukp.dkpro.core.api.frequency.tfidf.type.Tfidf
LEMMA_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Lemma
DEPENDENCY_TYPE=de.tudarmstadt.ukp.dkpro.core.api.syntax.type.dependency.Dependency
DEFINITION_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence
DEFINED_TYPE=cassis.Token
PARAGRAPH_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Paragraph