[TermExtraction]
SPACY_MODEL=en_core_web_lg
N_JOBS=1
BATCH_SIZE=32
MAX_LEN_NGRAM = 4
EXTRACT_SUPERGRAMS=False
TFIDF_REGEX=-2.0
TFIDF_WHITELIST=-1.0
TFIDF_BERT=-3.0


[BertBIOTagger]
PATH_MODEL_DIR=Fine_tuned_models/dgfisma_bio_tag
GPU=-1
NUM_THREADS_CPU=-1
SEQ_LENGTH=75
BATCH_SIZE=32

[DefinedTerm]
BERT_BIO_TAGGING=True
USE_REGEX=False
USE_WHITELIST=True
USE_TF_IDF=True
USE_BERT=True
FALLBACK_TO_REGEX=False
FALLBACK_TO_WHITELIST=False
FALLBACK_TO_TF_IDF=False

[Regex]
REGEX_TERMS = [\‘\"\`\'\•\“\‧][a-z0-9\-(){}_/\\:’]{2,}[a-z0-9 \-(){}_/\\:’]*[a-z0-9\-(){}_/\\:’]+[\‘\"\`\'\•\”\‧’]\B
REGEX_ABBREVIATIONS = [\‘\"\`\'\•\“\‧][A-Z’]{2,}[\‘\"\`\'\•\”\‧\’]\B

[Annotation]
SOFA_ID=html2textView
VALUE_BETWEEN_TAG_TYPE=com.crosslang.uimahtmltotext.uima.type.ValueBetweenTagType
TAG_NAMES=p
TOKEN_TYPE=de.tudarmstadt.ukp.dkpro.core.api.frequency.tfidf.type.Tfidf
LEMMA_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Lemma
DEPENDENCY_TYPE=de.tudarmstadt.ukp.dkpro.core.api.syntax.type.dependency.Dependency
DEFINITION_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence
DEFINED_TYPE=cassis.Token
PARAGRAPH_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Paragraph

[Annotation_user]
TOKEN_TYPE_USER=de.tudarmstadt.ukp.dkpro.core.api.frequency.tfidf.type.Tfidf_user
DEFINED_TYPE_USER=cassis.Token_user
DEFINITION_TYPE_USER=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence_user